{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Content</th>
                <th>Picture</th>
                <th>CreatedAt</th>
                <th>ReadAt</th>
                <th>IsRead</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.author }}</td>
                <td>{{ message.content }}</td>
                <td>
                    {% if message.image %}
                        <img style="max-height: 100px" src="{{ vich_uploader_asset(message, 'imageFile')|imagine_filter('my_thumb') }}" alt="{{ message.author }}">
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
                <td>{{ message.ReadAt ? message.ReadAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
                <td>{{ message.isRead ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_app_message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('admin_app_message_edit', {'id': message.id}) }}">edit</a>
                    {{ include('message/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_new') }}">Create new</a>
{% endblock %}
