{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
            </tr>
            <tr>
                <th>ReadAt</th>
                <td>{{ message.ReadAt ? message.ReadAt|date('Y-m-d H:i:s', 'Europe/Paris') : '' }}</td>
            </tr>
            <tr>
                <th>IsRead</th>
                <td>{{ message.isRead ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>
                    {% if message.image %}
                        <img style="max-height: 100px" src="{{ vich_uploader_asset(message, 'imageFile')|imagine_filter('my_thumb') }}" alt="{{ message.author }}">
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_message_index') }}">back to list</a>

    <a href="{{ path('admin_app_message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
