{% extends 'baseNoNavBar.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}

    <main class="viewMessages">

        <h1>Joyeuse Retraite Brigitte !</h1>

        <div class="container-lg containerView">
            {% for message in messages %}
                <div class="message">

                    <h2>{{ message.author }}</h2>
                    <div class="messageContent">

                        {% if message.image %}
                            <div class="imgContent">
                                <img class="image-rotation" src="{{ vich_uploader_asset(message, 'imageFile')|imagine_filter('my_thumb') }}" alt="{{ message.author }}">
                            </div>
                        {% endif %}
                        <p class="txtContent">
                            {{ message.content }}
                        </p>

                    </div>

                    <div class="rotateIcon d-flex gap-2">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        <i class="bi bi-arrow-repeat"></i>
                        <i class="bi bi-arrow-clockwise"></i>
                        {% if message.image %}
                            <a style="color: black" href="{{ asset('uploads/images/post_it/éa&²' ~ message.image) }}" download>
                                <i class="bi bi-download"></i>
                            </a>
                        {% endif %}
                    </div>

                </div>

            {% endfor %}

        </div>


    </main>

    <script>

        const divMessages = document.querySelectorAll('.message');
        divMessages.forEach(divMessage => {
            let rotation = 0;
            // Ajoutez un écouteur d'événement pour le clic

            const rotateRight = divMessage.querySelector('.bi-arrow-clockwise');
            const rotateLeft = divMessage.querySelector('.bi-arrow-counterclockwise');
            const rotate180 = divMessage.querySelector('.bi-arrow-repeat');

            const imgContent = divMessage.querySelector('.imgContent');

            if (!imgContent) return;
            const img = imgContent.querySelector('img');
            const landscape = img.width > img.height;
            const initialHeight = img.height;
            const initialWidth = img.width;

            rotateRight.addEventListener('click', () => {
                //img.classList.toggle('rotate-90'); /* Ajoute ou enlève la classe de rotation */
                // Augmentez la rotation de 90 degrés
                rotation += 90;
                console.log('width', initialWidth)
                console.log('height', initialHeight)
                console.log('landscape', landscape)

                if (landscape) {
                    const newHeight = rotation % 180 === 0 ? initialHeight : initialWidth;
                    console.log('newHeight', newHeight)
                    img.style.height = newHeight + 'px';
                    img.style.transform = `rotate(${rotation}deg)`;
                } else {
                    img.style.transform = `rotate(${rotation}deg)`;
                    const parent = img.parentElement;
                    parent.style.flexBasis = img.getBoundingClientRect().height + 20 + 'px';
                }
            });

            rotateLeft.addEventListener('click', () => {
                //img.classList.toggle('rotate-90'); /* Ajoute ou enlève la classe de rotation */
                // Augmentez la rotation de 90 degrés
                rotation -= 90;
                if (img.width > img.height) {
                    const newHeight = rotation % 90 === 0 ? img.width : img.height;
                    img.style.height = newHeight + 'px';
                    img.style.transform = `rotate(${rotation}deg)`;
                } else {
                    img.style.transform = `rotate(${rotation}deg)`;
                    const parent = img.parentElement;
                    parent.style.flexBasis = img.getBoundingClientRect().height + 20 + 'px';
                }
            });

            rotate180.addEventListener('click', () => {
                //img.classList.toggle('rotate-90'); /* Ajoute ou enlève la classe de rotation */
                // Augmentez la rotation de 90 degrés
                rotation += 180;
                img.style.transform = `rotate(${rotation}deg)`;
            });

        });
    </script>

{% endblock %}