<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/chat-message.webp') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('app-flash') }}>

        {% block navbar %}
        {% endblock %}


        {# Flash Message #}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        {% block body %}{% endblock %}

        <script src="https://kit.fontawesome.com/f7ad567183.js" crossorigin="anonymous"></script>

    </body>
</html>
